

@media screen and (max-height: 645px)
 .video-container .filter
  font-size: 40px
 .mail-to-me
  bottom: -425px
  &:hover
   bottom: -390px
  .submit-mail
   textarea
    max-height: 100px !important
    min-height: 100px !important
 .mail-to-me-up
  bottom: -10px
  &:hover
   cursor: auto
   bottom: -10px


@media screen and (max-height: 475px)
 .video-container .filter
  font-size: 30px

@media screen and (max-width: 1700px)
 #two
  .nav-main
   right: 5%
   .nav-main-list
    li
     a
      width: 300px
      font-size: 20px
      padding: 15px 20px
@media screen and (max-width: 1200px)
 #two
  .nav-main
   right: 2%
   .nav-main-list
    li
     a
      width: 300px
      font-size: 15px
      padding: 15px 20px
 .video-container .filter
  font-size: 40px
 .searchdown
  .nav-search
   .search
    flex: 3




@media screen and (max-width: 992px)
 #two
  .nav-main
   right: 2%
   .nav-main-list
    li
     a
      width: 250px
      font-size: 15px
      padding: 15px 20px
 .video-container .filter
  font-size: 35px
 .interactive-nav
  display: none !important
 header
  .container
   .main-nav
    &:last-child
     width: 10%
 #one
  .about-down
   padding-top: 100px
   .facts-animate
    margin: 30px 0
    font-size: 30px
    p
     font-size:
     width: 100%
   .facts-about-down-desc
    font-size: 30px
   .facts-about
    .facts-about-down-desc
     font-size: 20px


@media screen and (max-width: 768px)
 #two
  .nav-main
   display: none
 #one
  .arrow-slide
   bottom: 20px
   &:hover
    bottom: 18px
