

@media screen and (max-height: 667px)
 .video-container .filter
  font-size: 40px
 .mail-to-me
  bottom: -450px
  &:hover
   bottom: -450px
  .submit-mail
   height: 390px
   textarea
    max-height: 100px !important
    min-height: 100px !important
 .mail-to-me-up
  bottom: -10px
  &:hover
   cursor: auto
   bottom: -10px


@media screen and (max-height: 475px)
 .video-container .filter
  font-size: 30px

@media screen and (max-width: 1700px)
 #two
  .nav-main
   right: 5%
   .nav-main-list
    li
     a
      width: 300px
      font-size: 20px
      padding: 15px 20px
@media screen and (max-width: 1200px)
 #two
  .nav-main
   right: 2%
   .nav-main-list
    li
     a
      width: 300px
      font-size: 15px
      padding: 15px 20px
 .video-container .filter
  font-size: 40px
 .searchdown
  .nav-search
   .search
    flex: 3




@media screen and (max-width: 992px)
 #two
  .nav-main
   right: 2%
   .nav-main-list
    li
     a
      width: 250px
      font-size: 15px
      padding: 15px 20px
 .video-container .filter
  font-size: 35px
 .interactive-nav
  display: none !important
 header
  .container
   .main-nav
    &:last-child
     width: 10%
 #one
  .about-down
   padding-top: 100px
   padding-bottom: 50px
   .facts-animate
    margin: 30px 0
    font-size: 30px
    p
     font-size:
     width: 100%
   .facts-about-down-desc
    font-size: 30px
   .facts-about
    .facts-about-down-desc
     font-size: 20px


 .typed-cursor
  display: none

 footer
 .container
  .list-reserve-wrapper
  .portfolio-wrapper
   width: 45%
   .link-active-portfolio
    width: 100% !important
   .portfolio-wrapper-item
    margin: 45px 0
    flex-wrap: wrap




@media screen and (max-width: 768px)
 .sidenav
  position: fixed
  width: 50%
  background: #FFF
  z-index: 10000000
  right: -100%
  top: 0
  transition: .5s right .5s
  bottom: 0
  display: block
  nav
   padding: 50px 0
   height: 100%
   display: flex
   flex-direction: column
   justify-content: space-between
   a
    color: black
    text-align: center

 .sidenav-active
  right: 0


 .searchdown
  width: 70%

 .slick-item
  a
   h1
    min-height: 70px
    font-size: 23px
    line-height: 40px



 header
  .container
   .main-nav
    li
     a
      &.nav-animate
       display: none
      &.main-nav-brand
       height: 50px
       width: 50px
       padding: 0
       background:
       position: relative
       &::before
        transition: .5s transform , .5s top .7s
        content: ""
        display: block
        position: absolute
        top: 35%
        left: 50%
        width: 30px
        height: 3px
        background: #FFF
       &::after
        transition: .5s transform , .5s top .7s
        content: ""
        display: block
        position: absolute
        top: 65%
        left: 50%
        width: 30px
        height: 3px
        background: #FFF
       &:hover
        cursor: pointer
       .main-nav-brand-span
        transition:  .2s opacity .3s
        opacity: 1
        display: block
        position: absolute
        top: 50%
        left: 50%
        width: 30px
        height: 3px
        background: #FFF
       i
        display: none
      &.main-nav-brand-active
       &::before
        transition: .5s transform .7s , .3s top
        left: 50%
        top: 50%
        transform: rotate(45deg)
       &::after
        transition: .5s transform .7s , .3s top
        left: 50%
        top: 50%
        transform: rotate(-45deg)
       .main-nav-brand-span
        opacity: 0

 #two
  .home-page
   aside
    .aside-wrapper
     display: flex
     justify-content: center
  .nav-main
   display: none
 #one
  .arrow-slide
   bottom: 20px
   &:hover
    bottom: 18px



 footer
  .container
   .list-reserve-wrapper
    display: none
   .portfolio-wrapper
    width: 100%
    .link-active-portfolio
     width: 100%
    .portfolio-wrapper-item
     margin: 45px 0



 .mail-to-me
  bottom: -550px
  &:hover
   bottom: -550px
 .mail-to-me-up
  bottom: -10px
  &:hover
   cursor: auto
   bottom: -10px

@media screen and (max-width: 576px)

 .dis
  .dis-activator
   text-align: center
   font-size: 15px
 .homepage-hero-module
  display: none



 #one
  .about-down
   min-height: 100px
   padding-bottom: 100px
   .facts-about
    padding: 0 !important
    .facts-about-down-desc
     display: none

 .searchdown
  width: 100%


 #port
  width: 100%

 .search-nav
  margin-right: 30px !important


 header
  .container
   .main-nav:last-child
    div
     a
      display: none



 .bel-desc
  display: block
  font-size: 20px
  text-align: center



 .bel-desc2
  display: none


 .arrow-one
  display: none

 .typed-cursor
  display: none

 .mail-to-me
  bottom: -550px
  &:hover
   bottom: -550px
 .mail-to-me-up
  bottom: -10px
  &:hover
   cursor: auto
   bottom: -10px












@media screen and (max-width: 320px) ,  (max-width: 480px)

 .slick
  &-item
   max-height: 500px
   position: relative
   a
    height: 500px
    width: 100%
    h1
     padding: 20px 0
     line-height: 70px
     transition: .8s
     transform: translateY(100%)
     margin: 0
     left: 0
     bottom: 0
     text-align: center
     background: rgba(0,0,0,.7)
     width: 100%
     min-height: 100px
     color: #FFF
     position: absolute
     &:hover
       transform: translateY(0)
    img
     overflow: hidden
     transition: .8s
     width: 100%
     &:hover
       transform: none
       filter: none
     &:hover + h1
       transform: translateY(100%)



 .mail-to-me
  bottom: -450px
  &:hover
   bottom: -450px
  .h-mail
   width: 85%
 .mail-to-me-up
  bottom: -10px
  &:hover
   cursor: auto
   bottom: -10px




 footer
  .container
   .list-reserve-wrapper
    display: none
   .portfolio-wrapper
    width: 100%
    .link-active-portfolio
     width: 100%
    .portfolio-wrapper-item
     flex-wrap: wrap
     display: flex
     margin: 45px 0
     .portfolio-item
      width: 50%
      margin-top: 15px



@media screen and (max-width: 320px)

 .aside-wrapper
  display: none !important


@media screen and (min-height: 667px) and  (max-width: 576px)
 .video-container .filter
  font-size: 40px
 .mail-to-me
  bottom: -550px
  &:hover
   bottom: -550px
 .mail-to-me-up
  bottom: -10px
  &:hover
   cursor: auto
   bottom: -10px





