@font-face {
  font-family: 'PT Sans Caption';
  src: url("../fonts/ptsanscaption-400-normal.woff2") format("woff2"), url("../fonts/ptsanscaption-400-normal.woff") format("woff"), url("../fonts/ptsanscaption-400-normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Azoft Sans';
  src: url("../fonts/azoft-400-normal.woff2") format("woff2"), url("../fonts/azoft-400-normal.woff") format("woff"), url("../fonts/azoft-400-normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

h4 {
  font-size: 28px; }

.preloader-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2000000; }
  .preloader-wrapper::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 50%;
    background: #16A085; }
  .preloader-wrapper::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 50%;
    background: #16A085; }
  .preloader-wrapper .preloader {
    z-index: 100000000;
    width: 1px;
    -webkit-animation: 2s spinner  infinite linear;
    animation: 2s spinner  infinite linear;
    border: 100px solid #196090;
      border-top: 100px solid transparent;
      border-left: 100px solid #196090;
      border-right: 100px solid #196090;
      border-bottom: 100px solid transparent;
    height: 1px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
  .preloader-wrapper .preloader-desc {
    z-index: 100000000;
    position: absolute;
    -webkit-animation: 1.5s fade  infinite linear;
    animation: 1.5s fade  infinite linear;
    margin-top: 100px;
    color: #FFF;
    font-size: 40px;
    font-family: 'Azoft Sans';
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.preloader-wrapper-load {
  -webkit-transition: .5s z-index 2s;
  -o-transition: .5s z-index 2s;
  transition: .5s z-index 2s;
  z-index: -100 !important; }
  .preloader-wrapper-load::before {
    width: 0;
    -webkit-transition: .3s 1s;
    -o-transition: .3s 1s;
    transition: .3s 1s; }
  .preloader-wrapper-load::after {
    -webkit-transition: .3s 1s;
    -o-transition: .3s 1s;
    transition: .3s 1s;
    width: 0; }
  .preloader-wrapper-load .preloader {
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .preloader-wrapper-load .preloader-desc {
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-animation: none;
    animation: none; }
